In [2]:
import pandas as pd

df1 = pd.read_csv('Data/7_OneCatOneNum.csv')
df1.head()

          Country    Value
0   United States  12394.0
1          Russia   6148.0
2   Germany (FRG)   1653.0
3          France   2162.0
4  United Kingdom   1214.0

In [4]:
a = pd.Series([1,2,3], index=['a', 'b', 'c'])
print (a)

a    1
b    2
c    3
dtype: int64

In [7]:
data = {'A' : [1,2,3],
        "B": [2,3,4]}

df = pd.DataFrame(data, index= ['a', 'b', 'c'])
df

   A  B
a  1  2
b  2  3
c  3  4

In [12]:
df.info

<bound method DataFrame.info of    A  B
a  1  2
b  2  3
c  3  4>

In [13]:
df2 = pd.read_csv('Data/10_OneNumSevCatSubgroupsSevObs.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [15]:
df3 = pd.read_csv("Data/OneCatSeveralNumOrdered.csv")
df3

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States,10732.0,12515.0,14132.0,13847.0,11523.0,11216.0,10891.0,14552.0,15728.0,...,6828.0,6912.0,8063.0,9087.0,9122.0,7660.0,9656.0,10048.0,10304.0,12394.0
1,Russia,NaN,NaN,2605.0,3439.0,1478.0,3889.0,3572.0,3347.0,2040.0,...,6232.0,4969.0,6091.0,8568.0,8283.0,7805.0,5224.0,5608.0,6937.0,6148.0
2,Germany (FRG),1816.0,2482.0,1437.0,1500.0,2800.0,1465.0,1950.0,939.0,1808.0,...,2380.0,2521.0,2725.0,1351.0,847.0,738.0,1774.0,1769.0,2535.0,1653.0
3,France,1712.0,1111.0,1185.0,929.0,851.0,971.0,1892.0,3230.0,3145.0,...,2007.0,1929.0,897.0,1758.0,1035.0,1492.0,1697.0,2077.0,2278.0,2162.0
4,United Kingdom,1867.0,1523.0,1180.0,1421.0,1539.0,1475.0,1662.0,2386.0,1413.0,...,967.0,1050.0,1151.0,1025.0,899.0,1580.0,1645.0,1149.0,1365.0,1214.0
5,China,941.0,1315.0,703.0,1436.0,1111.0,1013.0,772.0,435.0,353.0,...,649.0,1140.0,1479.0,1253.0,1509.0,2006.0,1152.0,1832.0,2192.0,1131.0
6,Soviet Union,9777.0,5667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Netherlands,416.0,455.0,365.0,455.0,627.0,473.0,499.0,614.0,624.0,...,446.0,495.0,371.0,546.0,863.0,367.0,631.0,464.0,471.0,1167.0
8,Italy,206.0,349.0,248.0,341.0,208.0,297.0,291.0,454.0,426.0,...,422.0,512.0,537.0,944.0,747.0,867.0,683.0,711.0,670.0,660.0
9,Israel,85.0,152.0,324.0,383.0,296.0,166.0,286.0,247.0,229.0,...,349.0,737.0,655.0,541.0,461.0,426.0,399.0,727.0,1433.0,1263.0
10,Ukraine,NaN,NaN,165.0,82.0,236.0,167.0,256.0,558.0,708.0,...,388.0,414.0,479.0,569.0,1487.0,655.0,651.0,400.0,535.0,240.0
11,Spain,108.0,100.0,65.0,98.0,237.0,82.0,105.0,625.0,162.0,...,602.0,951.0,263.0,1429.0,546.0,728.0,1050.0,1163.0,507.0,814.0
12,Sweden,231.0,156.0,149.0,103.0,111.0,196.0,349.0,105.0,339.0,...,452.0,407.0,657.0,692.0,476.0,386.0,335.0,184.0,267.0,83.0
13,Switzerland,404.0,432.0,396.0,184.0,133.0,139.0,186.0,118.0,211.0,...,458.0,228.0,241.0,326.0,229.0,174.0,339.0,437.0,186.0,186.0
14,Canada,101.0,121.0,143.0,146.0,167.0,263.0,159.0,95.0,40.0,...,238.0,186.0,244.0,321.0,339.0,262.0,247.0,356.0,144.0,87.0
15,South Korea,72.0,118.0,NaN,60.0,7.0,27.0,24.0,21.0,32.0,...,109.0,224.0,197.0,331.0,218.0,347.0,163.0,101.0,585.0,587.0
16,Belarus,NaN,NaN,NaN,8.0,NaN,7.0,129.0,341.0,63.0,...,224.0,41.0,159.0,96.0,65.0,268.0,68.0,142.0,152.0,23.0
17,Norway,85.0,170.0,75.0,51.0,64.0,21.0,4.0,19.0,3.0,...,118.0,155.0,159.0,151.0,172.0,175.0,164.0,240.0,150.0,134.0
18,Turkey,NaN,NaN,NaN,NaN,NaN,3.0,3.0,0.0,3.0,...,111.0,63.0,72.0,86.0,143.0,156.0,165.0,288.0,311.0,244.0
19,South Africa,NaN,54.0,75.0,54.0,11.0,17.0,31.0,7.0,22.0,...,139.0,103.0,235.0,71.0,182.0,96.0,64.0,58.0,65.0,74.0
20,Czech Republic,NaN,NaN,NaN,202.0,320.0,143.0,126.0,24.0,21.0,...,32.0,23.0,5.0,11.0,8.0,41.0,27.0,138.0,133.0,110.0
21,Poland,105.0,55.0,56.0,NaN,131.0,176.0,46.0,21.0,1.0,...,73.0,75.0,28.0,8.0,24.0,142.0,24.0,11.0,4.0,3.0
22,Belgium,1.0,1.0,NaN,NaN,33.0,167.0,59.0,93.0,46.0,...,217.0,243.0,9.0,111.0,22.0,55.0,10.0,12.0,7.0,12.0
23,Australia,158.0,85.0,NaN,30.0,36.0,36.0,16.0,20.0,4.0,...,25.0,80.0,115.0,143.0,45.0,54.0,97.0,87.0,134.0,97.0
24,Brazil,96.0,114.0,91.0,36.0,54.0,33.0,23.0,23.0,16.0,...,92.0,43.0,151.0,31.0,33.0,40.0,42.0,41.0,111.0,45.0
25,Czechoslovakia,628.0,417.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,North Korea,4.0,113.0,131.0,137.0,24.0,41.0,47.0,47.0,81.0,...,20.0,20.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
27,Finland,NaN,22.0,11.0,17.0,26.0,26.0,9.0,10.0,34.0,...,79.0,51.0,60.0,40.0,102.0,75.0,91.0,23.0,66.0,58.0
28,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,209.0,209.0,209.0,NaN,NaN,NaN,34.0,68.0,NaN
29,Japan,30.0,68.0,126.0,153.0,162.0,158.0,188.0,32.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
30,Slovakia,NaN,NaN,NaN,173.0,37.0,97.0,59.0,55.0,10.0,...,8.0,NaN,NaN,NaN,4.0,1.0,8.0,3.0,18.0,22.0
31,Denmark,72.0,10.0,NaN,183.0,272.0,16.0,NaN,NaN,1.0,...,17.0,14.0,8.0,21.0,33.0,9.0,17.0,25.0,26.0,12.0
32,Bulgaria,6.0,42.0,16.0,28.0,55.0,1.0,21.0,6.0,39.0,...,4.0,16.0,4.0,2.0,13.0,21.0,14.0,70.0,61.0,NaN
33,Austria,30.0,20.0,20.0,10.0,17.0,NaN,18.0,1.0,29.0,...,15.0,42.0,48.0,51.0,24.0,29.0,15.0,10.0,15.0,22.0
34,Yugoslavia,80.0,515.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Jordan,NaN,NaN,NaN,NaN,65.0,NaN,NaN,6.0,NaN,...,13.0,28.0,117.0,NaN,21.0,25.0,114.0,8.0,17.0,77.0
36,UAE,2.0,NaN,NaN,NaN,NaN,28.0,6.0,32.0,NaN,...,1.0,34.0,39.0,3.0,NaN,33.0,30.0,112.0,73.0,72.0
37,Singapore,44.0,3.0,3.0,11.0,30.0,NaN,0.0,46.0,23.0,...,NaN,31.0,24.0,13.0,76.0,1.0,2.0,48.0,47.0,NaN
38,Moldova,NaN,NaN,11.0,NaN,36.0,NaN,NaN,217.0,NaN,...,29.0,20.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
39,Unknown supplier(s),10.0,9.0,3.0,38.0,53.0,1.0,75.0,10.0,3.0,...,35.0,13.0,28.0,3.0,14.0,10.0,26.0,9.0,21.0,7.0
40,Indonesia,NaN,NaN,NaN,16.0,16.0,25.0,NaN,8.0,NaN,...,1.0,NaN,NaN,8.0,NaN,NaN,NaN,NaN,94.0,102.0
41,Iran,0.0,1.0,1.0,1.0,0.0,1.0,2.0,0.0,0.0,...,43.0,45.0,45.0,86.0,21.0,12.0,47.0,15.0,5.0,10.0
42,Libya,36.0,NaN,NaN,NaN,3.0,NaN,NaN,3.0,10.0,...,18.0,32.0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
43,Romania,7.0,5.0,14.0,16.0,29.0,9.0,4.0,11.0,2.0,...,NaN,2.0,1.0,0.0,108.0,108.0,NaN,NaN,NaN,NaN
44,Portugal,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,99.0,46.0,NaN,0.0,0.0,NaN,18.0,7.0,172.0,56.0
45,India,3.0,0.0,1.0,9.0,2.0,2.0,0.0,0.0,0.0,...,15.0,27.0,5.0,3.0,NaN,14.0,36.0,42.0,42.0,56.0
46,Kazakhstan,NaN,NaN,NaN,NaN,NaN,13.0,12.0,3.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Serbia,NaN,NaN,NaN,NaN,NaN,NaN,20.0,5.0,NaN,...,45.0,1.0,31.0,4.0,11.0,11.0,10.0,35.0,23.0,2.0
48,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.0,26.0,25.0,1.0,25.0,26.0,13.0,NaN,NaN,NaN
49,Hungary,NaN,NaN,NaN,21.0,NaN,6.0,NaN,24.0,NaN,...,NaN,NaN,NaN,NaN,NaN,41.0,NaN,NaN,NaN,NaN
50,Others,198.0,43.0,153.0,160.0,52.0,79.0,119.0,81.0,116.0,...,119.0,77.0,40.0,102.0,81.0,18.0,33.0,37.0,39.0,77.0

In [16]:
df3.dropna()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States,10732.0,12515.0,14132.0,13847.0,11523.0,11216.0,10891.0,14552.0,15728.0,...,6828.0,6912.0,8063.0,9087.0,9122.0,7660.0,9656.0,10048.0,10304.0,12394.0
2,Germany (FRG),1816.0,2482.0,1437.0,1500.0,2800.0,1465.0,1950.0,939.0,1808.0,...,2380.0,2521.0,2725.0,1351.0,847.0,738.0,1774.0,1769.0,2535.0,1653.0
3,France,1712.0,1111.0,1185.0,929.0,851.0,971.0,1892.0,3230.0,3145.0,...,2007.0,1929.0,897.0,1758.0,1035.0,1492.0,1697.0,2077.0,2278.0,2162.0
4,United Kingdom,1867.0,1523.0,1180.0,1421.0,1539.0,1475.0,1662.0,2386.0,1413.0,...,967.0,1050.0,1151.0,1025.0,899.0,1580.0,1645.0,1149.0,1365.0,1214.0
5,China,941.0,1315.0,703.0,1436.0,1111.0,1013.0,772.0,435.0,353.0,...,649.0,1140.0,1479.0,1253.0,1509.0,2006.0,1152.0,1832.0,2192.0,1131.0
7,Netherlands,416.0,455.0,365.0,455.0,627.0,473.0,499.0,614.0,624.0,...,446.0,495.0,371.0,546.0,863.0,367.0,631.0,464.0,471.0,1167.0
8,Italy,206.0,349.0,248.0,341.0,208.0,297.0,291.0,454.0,426.0,...,422.0,512.0,537.0,944.0,747.0,867.0,683.0,711.0,670.0,660.0
9,Israel,85.0,152.0,324.0,383.0,296.0,166.0,286.0,247.0,229.0,...,349.0,737.0,655.0,541.0,461.0,426.0,399.0,727.0,1433.0,1263.0
11,Spain,108.0,100.0,65.0,98.0,237.0,82.0,105.0,625.0,162.0,...,602.0,951.0,263.0,1429.0,546.0,728.0,1050.0,1163.0,507.0,814.0
12,Sweden,231.0,156.0,149.0,103.0,111.0,196.0,349.0,105.0,339.0,...,452.0,407.0,657.0,692.0,476.0,386.0,335.0,184.0,267.0,83.0
13,Switzerland,404.0,432.0,396.0,184.0,133.0,139.0,186.0,118.0,211.0,...,458.0,228.0,241.0,326.0,229.0,174.0,339.0,437.0,186.0,186.0
14,Canada,101.0,121.0,143.0,146.0,167.0,263.0,159.0,95.0,40.0,...,238.0,186.0,244.0,321.0,339.0,262.0,247.0,356.0,144.0,87.0
17,Norway,85.0,170.0,75.0,51.0,64.0,21.0,4.0,19.0,3.0,...,118.0,155.0,159.0,151.0,172.0,175.0,164.0,240.0,150.0,134.0
39,Unknown supplier(s),10.0,9.0,3.0,38.0,53.0,1.0,75.0,10.0,3.0,...,35.0,13.0,28.0,3.0,14.0,10.0,26.0,9.0,21.0,7.0
50,Others,198.0,43.0,153.0,160.0,52.0,79.0,119.0,81.0,116.0,...,119.0,77.0,40.0,102.0,81.0,18.0,33.0,37.0,39.0,77.0

In [17]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit([[32],[56],[84]],[2,6,5])
print (reg.coef_,reg.intercept_)

[0.05511811] 1.173228346456693

In [ ]:
def f(x):
    f = 0.05511811*x + 1.173
    return f

In [18]:
df = pd.read_csv('Data/10_OneNumSevCatSubgroupsSevObs.csv')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [20]:
grouped = df.groupby('sex')
grouped.count()

        total_bill  tip  smoker  day  time  size
sex
Female          87   87      87   87    87    87
Male           157  157     157  157   157   157